<h1>This is the secret page</h1>

<p>You found me</p>
<img src="https://www.oddee.com/wp-content/uploads/_media/imgs/articles/a383_s1.jpg">

<li><a href="/register">Sign Up!</li>
<li><a href="/login">Login!</li>
<li><a href="/logout">Logout!</li>